#bg-image {
    background-image: url("../assets/bg-image.png");
    position: absolute;
    width: 1280px;
    height: 615px;
    left: 0px;
    top: 0px;
    background-size: cover;
}

#tamagochi-land {
    position: absolute;
    width: 580px;
    height: 90px;
    left: -150px;
    top: 260px;
    margin: 0;

    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    text-align: center;

    color: #D36245;

    transform: rotate(-90deg);
}

#bouton-creer{
    position: absolute;
    width: 354px;
    height: 74px;
    left: 900px;
    top: 246px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#bouton-voir{
    position: absolute;
    width: 354px;
    height: 74px;
    left: 900px;
    top: 135px;
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#username {
    position: absolute;
    width: 439px;
    height: 65px;
    left: 773px;
    top: 70px;

    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}

.tamago-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tamago-card {
    width: 300px;
    height: 450px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #ccc;
    text-align: center;
    padding: 20px;
}

.tamago-card h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.tamago-card p {
    font-size: 18px;
    margin-bottom: 10px;
}

.tamago-card img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.tamago-card .status {
    display: flex;
    justify-content: space-around;
}

.tamago-card .status .status-name {
    font-size: 18px;
}

.tamago-card .status .status-value {
    font-size: 18px;
}

.button-14 {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-14:active {
  border-bottom-color: #a2a6ac;
}

.button-14:active:hover {
  border-bottom-color: #a2a6ac;
}

.button-14:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.button-14:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}